*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#111;
color:white;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 40px;
background:#FFD700;
color:#000;
}

nav a{
text-decoration:none;
color:black;
font-weight:bold;
margin-left:20px;
}

.hero{
height:85vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h2{
font-size:48px;
margin-bottom:20px;
}

.hero p{
font-size:20px;
max-width:700px;
margin-bottom:30px;
color:#ddd;
}

button{
background:#FFD700;
color:black;
padding:15px 35px;
font-size:18px;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:bold;
transition:0.3s;
}

button:hover{
background:white;
}

@media(max-width:768px){
nav{
flex-direction:column;
gap:10px;
}

.hero h2{
font-size:32px;
}

.hero p{
font-size:16px;
}
}
.login-container{
width:90%;
max-width:400px;
margin:80px auto;
background:#1b1b1b;
padding:30px;
border-radius:15px;
text-align:center;
box-shadow:0 0 20px rgba(255,215,0,.3);
}

.login-container{
    width:90%;
    max-width:400px;
    margin:60px auto;
    background:#1b1b1b;
    padding:30px;
    border-radius:20px;
    box-shadow:0 0 20px rgba(255,215,0,.3);
    text-align:center;
}

.login-container input{
    width:100%;
    padding:15px;
    margin:12px 0;
    border:none;
    border-radius:10px;
    font-size:16px;
    box-sizing:border-box;
}

.login-container button{
    width:100%;
    padding:15px;
    margin-top:15px;
    background:#FFD700;
    color:black;
    border:none;
    border-radius:10px;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
}
h3{
color:#FFD700;
margin-top:20px;
}

p{
margin:8px 0;
}
textarea{
    width:100%;
    padding:15px;
    border:none;
    border-radius:10px;
    margin:10px 0;
    font-size:16px;
    resize:none;
    box-sizing:border-box;
}
.logo{
font-size:28px;
font-weight:bold;
}

.menu a{
margin-left:20px;
text-decoration:none;
color:black;
font-weight:bold;
}

.features{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
padding:50px 20px;
}

.card{
background:#1d1d1d;
padding:25px;
width:300px;
border-radius:15px;
text-align:center;
box-shadow:0 0 15px rgba(255,215,0,.25);
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

footer{
padding:30px;
text-align:center;
background:#000;
margin-top:40px;
color:#FFD700;
}

@media(max-width:768px){
.menu{
display:flex;
flex-direction:column;
align-items:center;
gap:10px;
margin-top:10px;
}

.features{
flex-direction:column;
align-items:center;
}
}
.dark{
    background:#111;
    color:white;
}

.dark .login-container{
    background:#222;
    color:white;
}
